.App {
  text-align: center;
}

.main-container {
  display: flex;
}

.modal-container {
  background: #fff;
  position: absolute;
  top: 5%;
  left: 2%;
  right: 2%;
}

@media only screen and (max-width: 800px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 850px) {
  .modal-container {
    background: #fff;
    position: absolute;
    top: 0%;
    left: 2%;
    right: 2%;
    bottom: 5px;
  }
}